# Se realiza un análisis de sentimientos como parte del EDA a partir de los DataFrames limpios resultantes de el ETL

In [1]:
import pandas as pd
from IPython.display import display

# Ruta al archivo CSV
archivo_csv = "C:/Users/Fede/Desktop/ETL/RestoYelp.csv"

# Leer el archivo CSV en un DataFrame
df = pd.read_csv(archivo_csv)

# Mostrar el DataFrame utilizando display
display(df)

,name,city,state,review_count,attributes,categories,review_id,user_id,business_id,stars_y,text,anio,mes,dia
0,Starbucks,Nashville,PA,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Restaurants, Coffee & Tea, Food",ULzbgT5SPThiMOoo4a_Adw,veBX5roHQLNnQ1rTtNh_gg,aJvxWyQIG5OLfBw3qAe8xA,3.0,ordered caramel frappe at drive thru big mista...,2017,12,29
1,Starbucks,Nashville,PA,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Restaurants, Coffee & Tea, Food",aIkwHOOldvkQFo6-_EU4Yw,pk4-sSsNYqYSv8qc089XzA,aJvxWyQIG5OLfBw3qAe8xA,3.0,yummy but the staff refused to make a frappaci...,2017,5,26
2,Starbucks,Nashville,PA,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Restaurants, Coffee & Tea, Food",gW3uDzBeK7k0Syo1G8J4ng,A62iFtb1vndS4_p2hpp0tg,aJvxWyQIG5OLfBw3qAe8xA,3.0,i went in there about 2 weeks ago for sandwich...,2017,1,30
3,Starbucks,Nashville,PA,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Restaurants, Coffee & Tea, Food",0Hju4nEV3PREEaKaC_KSHw,eqQQDwdusuyucKwW8T9_zQ,aJvxWyQIG5OLfBw3qAe8xA,3.0,this starbucks took 25 minutes and 4 tries to ...,2017,12,5
4,Starbucks,Nashville,PA,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Restaurants, Coffee & Tea, Food",BWSiU-YDCw6Fti7UMHI1ag,fmTRm9lxmWHp6olH_YxeOA,aJvxWyQIG5OLfBw3qAe8xA,3.0,im new to the area and ive been craving my sta...,2017,6,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38098,KFC,Edmonton,IN,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...","American (Traditional), Fast Food, Restaurants...",QLVR6EcBV2lD2JpJrP9N_Q,k5RiHhMsd7zT6gO-sa8CiQ,Tj9FmBCHd84kjAE9vcoBnw,1.0,the owner is the biggest ahole ever he gave me...,2021,10,13
38099,KFC,Edmonton,IN,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...","American (Traditional), Fast Food, Restaurants...",cf3ft8457oGoiu9rW49cDQ,cS5J5Lw1xECApPjmk6dyJg,Tj9FmBCHd84kjAE9vcoBnw,1.0,ask for breasts and im always told there are n...,2021,11,3
38100,KFC,Edmonton,IN,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...","American (Traditional), Fast Food, Restaurants...",nGLcmo0D3IKrqqgK1kutlA,baGaUEUuXYQvTR9h4n9VKw,Tj9FmBCHd84kjAE9vcoBnw,1.0,the chicken we ordered was cold wasnt even a f...,2021,12,26
38101,Subway,Green Valley,FL,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Fast Food, Sandwiches, Restaurants",xFMhYYCB8IAzBfhm5Qod4w,wqeGcKWbtQLyavwtq26iww,iZjH7SKfiPSplPIHvbhwtQ,4.5,weve all probably been to a subway once or twi...,2021,10,28
38102,Subway,Green Valley,FL,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Fast Food, Sandwiches, Restaurants",4Q4vDtOlYsM8_82lD2Wa0g,Xv1EzwvIr90s1VGU5Vp11A,iZjH7SKfiPSplPIHvbhwtQ,4.5,first time there was yesterday for lunch our s...,2021,7,1

In [2]:
import numpy as np
import datetime
import re #Expresiones regulares

In [3]:
df.isnull().sum()

name              0
city              0
state             0
review_count      0
attributes      107
categories        0
review_id         0
user_id           0
business_id       0
stars_y           0
text              0
anio              0
mes               0
dia               0
dtype: int64

In [4]:
#Selección de columnas con las que se va a trabajar

In [5]:
df=df[['name','state','review_count','attributes','business_id','stars_y','text', 'categories', 'anio', 'mes', 'dia']]

In [6]:
# Obtener los tipos de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos
print(tipos_de_datos)

name             object
state            object
review_count      int64
attributes       object
business_id      object
stars_y         float64
text             object
categories       object
anio              int64
mes               int64
dia               int64
dtype: object

In [7]:
# Cambiar los tipos de datos
df['name'] = df['name'].astype(str)
df['state'] = df['state'].astype(str)
df['attributes'] = df['attributes'].astype(str)
df['text'] = df['text'].astype(str)
df['categories'] = df['categories'].astype(str)
df['anio'] = df['anio'].astype(int)
df['mes'] = df['mes'].astype(int)
df['dia'] = df['dia'].astype(int)

# Verificar los nuevos tipos de datos
tipos_de_datos_actualizados = df.dtypes
print(tipos_de_datos_actualizados)

name             object
state            object
review_count      int64
attributes       object
business_id      object
stars_y         float64
text             object
categories       object
anio              int32
mes               int32
dia               int32
dtype: object

In [8]:
# Se pasa a todo a minúsculas para las columnas name,categories y text

In [9]:
df['name']=df['name'].apply(lambda x: x.lower())
df['state']=df['state'].apply(lambda x: x.lower())
df['categories']=df['categories'].apply(lambda x: x.lower() if x is not None else '')
df['text']=df['text'].apply(lambda x: x.lower() if x is not None else '')
df

,name,state,review_count,attributes,business_id,stars_y,text,categories,anio,mes,dia
0,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,ordered caramel frappe at drive thru big mista...,"restaurants, coffee & tea, food",2017,12,29
1,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,yummy but the staff refused to make a frappaci...,"restaurants, coffee & tea, food",2017,5,26
2,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,i went in there about 2 weeks ago for sandwich...,"restaurants, coffee & tea, food",2017,1,30
3,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,this starbucks took 25 minutes and 4 tries to ...,"restaurants, coffee & tea, food",2017,12,5
4,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,im new to the area and ive been craving my sta...,"restaurants, coffee & tea, food",2017,6,20
...,...,...,...,...,...,...,...,...,...,...,...
38098,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the owner is the biggest ahole ever he gave me...,"american (traditional), fast food, restaurants...",2021,10,13
38099,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,ask for breasts and im always told there are n...,"american (traditional), fast food, restaurants...",2021,11,3
38100,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the chicken we ordered was cold wasnt even a f...,"american (traditional), fast food, restaurants...",2021,12,26
38101,subway,fl,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",iZjH7SKfiPSplPIHvbhwtQ,4.5,weve all probably been to a subway once or twi...,"fast food, sandwiches, restaurants",2021,10,28
38102,subway,fl,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",iZjH7SKfiPSplPIHvbhwtQ,4.5,first time there was yesterday for lunch our s...,"fast food, sandwiches, restaurants",2021,7,1

In [10]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Fede\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
# Calcular el promedio de valores nulos por columna
promedio_nulos_por_columna = df.isnull().mean()

# Mostrar el promedio de valores nulos por columna
print(promedio_nulos_por_columna)

name            0.0
state           0.0
review_count    0.0
attributes      0.0
business_id     0.0
stars_y         0.0
text            0.0
categories      0.0
anio            0.0
mes             0.0
dia             0.0
dtype: float64

In [12]:
#Quitamos las stopwords

In [13]:
import nltk
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words(['spanish', 'english'])

# Función para tokenizar y filtrar stopwords
def tokenize_and_filter(text):
    words = text.split()  # Divide la cadena en palabras
    filtered_words = [word for word in words if word.lower() not in stopwords]  # Filtra las stopwords
    return filtered_words

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Fede\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
top_N=300

In [15]:
df['filtrado'] = df['text'].apply(tokenize_and_filter)
df

,name,state,review_count,attributes,business_id,stars_y,text,categories,anio,mes,dia,filtrado
0,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,ordered caramel frappe at drive thru big mista...,"restaurants, coffee & tea, food",2017,12,29,"[ordered, caramel, frappe, drive, thru, big, m..."
1,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,yummy but the staff refused to make a frappaci...,"restaurants, coffee & tea, food",2017,5,26,"[yummy, staff, refused, make, frappacino, orde..."
2,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,i went in there about 2 weeks ago for sandwich...,"restaurants, coffee & tea, food",2017,1,30,"[went, 2, weeks, ago, sandwich, drink, use, al..."
3,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,this starbucks took 25 minutes and 4 tries to ...,"restaurants, coffee & tea, food",2017,12,5,"[starbucks, took, 25, minutes, 4, tries, give,..."
4,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,im new to the area and ive been craving my sta...,"restaurants, coffee & tea, food",2017,6,20,"[im, new, area, ive, craving, starbucks, littl..."
...,...,...,...,...,...,...,...,...,...,...,...,...
38098,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the owner is the biggest ahole ever he gave me...,"american (traditional), fast food, restaurants...",2021,10,13,"[owner, biggest, ahole, ever, gave, much, atti..."
38099,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,ask for breasts and im always told there are n...,"american (traditional), fast food, restaurants...",2021,11,3,"[ask, breasts, im, always, told, none, chicken..."
38100,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the chicken we ordered was cold wasnt even a f...,"american (traditional), fast food, restaurants...",2021,12,26,"[chicken, ordered, cold, wasnt, even, full, ch..."
38101,subway,fl,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",iZjH7SKfiPSplPIHvbhwtQ,4.5,weve all probably been to a subway once or twi...,"fast food, sandwiches, restaurants",2021,10,28,"[weve, probably, subway, twice, normally, woul..."
38102,subway,fl,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",iZjH7SKfiPSplPIHvbhwtQ,4.5,first time there was yesterday for lunch our s...,"fast food, sandwiches, restaurants",2021,7,1,"[first, time, yesterday, lunch, server, perfec..."

In [16]:
# Cambiar la columna 'text' a tipo 'str'
df['text'] = df['text'].astype(str)

# Verificar el nuevo tipo de datos de la columna 'text'
tipo_de_datos_text = df['text'].dtype
print(tipo_de_datos_text)

object

In [17]:
# Convertir la columna 'text' a una lista de palabras
words = df['text'].astype(str).str.split().tolist()
words = [word for list_ in words for word in list_]

# Mostrar las primeras 10 palabras como ejemplo
print(words[:10])

['ordered', 'caramel', 'frappe', 'at', 'drive', 'thru', 'big', 'mistake', 'took', '30']

In [18]:
word_dist= nltk.FreqDist(words)
rslt=pd.DataFrame(word_dist.most_common(top_N),columns=['Word','Frecuencia'])
rslt

           Word  Frecuencia
0           the      147614
1           and      102931
2             i      102685
3            to       90971
4             a       70027
..          ...         ...
295  management        1586
296        name        1585
297         car        1576
298        else        1575
299      coming        1568

[300 rows x 2 columns]

In [19]:
categorias_palabras_clave = {
    'Restaurante': ['restaurant','pizza','bar','food','takeout','coffee','delivery','venue','sandwich','cafe','mexican','breakfast','diner'],
    'Agencia': ['agency'],
    'Fotógrafo': ['photographer'],
    'Auto': ['transportation','auto','repair','car','truck','tire','motorcycle','trailer','mechanic','chevrolet'],
    'Belleza_Spa':['salon','beauty','hair','nail','spa','barber','waxing','massage'],
    'Mascotas': ['pet','veterinarian','dog','animal'],
    'Salud': ['dentist','doctor','medical','health','dental','surgeon','pharmacy','drug','physician','hospital','optometrist','pathologist'],
    'Iglesia':['church','baptist','wedding','religious','catholic'],
    'Casa':['home','contractor','furniture'],
    'Oficina':['office','corporate'],
    'Escuela':['school'],
    'Banco':['bank','atm','ATM','money'],
    'Deportes':['sports','club','physical','gym','GYM','body','fitness','ski'],
    'Atraccion Turistica':['tourist', 'attraction','park'],
    'Tienda':['liquor','cell','phone','electronic','convenience'],
    'Sin Categoria':[''],
    'Hospedaje':['lodging','hotel'],
    'Fabrica':['fabric']

}

In [20]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk import FreqDist

# Supongamos que ya tienes un DataFrame llamado 'df' con la columna 'text'

# Descargar las palabras vacías (stop words) de NLTK si no las tienes ya
nltk.download('stopwords')

# Obtener la lista de palabras vacías en inglés de NLTK
stop_words = set(stopwords.words('english'))

# Definir la cantidad de palabras más comunes que deseas obtener
top_N = 300

# Función para tokenizar el texto y filtrar las palabras comunes
def tokenize_and_filter(text):
    words = nltk.word_tokenize(text)
    filtered_words = [word.lower() for word in words if word.lower() not in stop_words and word.isalpha()]
    return filtered_words

# Aplicar la función a la columna 'text' y combinar todas las palabras en una sola lista
all_words = df['text'].apply(tokenize_and_filter).sum()

# Calcular la frecuencia de las palabras
word_dist = FreqDist(all_words)

# Obtener las 300 palabras más comunes
top_words = word_dist.most_common(top_N)

# Crear un DataFrame con las palabras más comunes y sus frecuencias
rslt = pd.DataFrame(top_words, columns=['Word', 'Frecuencia'])

# Mostrar el DataFrame resultante
print(rslt)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Fede\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

         Word  Frecuencia
0       order       22595
1         get       14617
2        time       13559
3        food       13380
4         one       13166
..        ...         ...
295      late        1097
296  favorite        1078
297     young        1078
298     given        1077
299     often        1073

[300 rows x 2 columns]

In [21]:
# Guardar el DataFrame 'rslt' en un archivo CSV llamado "resultado.csv"
rslt.to_csv('resultado.csv', index=False)

In [22]:
# Seleccionar un número de palabras clave (por ejemplo, las 10 palabras más comunes)
numero_de_palabras_clave = 10

# Obtener las palabras clave
palabras_clave = rslt['Word'].head(numero_de_palabras_clave)

# Crear una nueva columna 'categorias_palabras_clave' en el DataFrame original
df['categorias_palabras_clave'] = df['text'].apply(lambda text: [word for word in text.split() if word in palabras_clave])

# Mostrar el DataFrame resultante con la nueva categoría
print(df[['text', 'categorias_palabras_clave']])

                                                    text  \
0      ordered caramel frappe at drive thru big mista...
1      yummy but the staff refused to make a frappaci...
2      i went in there about 2 weeks ago for sandwich...
3      this starbucks took 25 minutes and 4 tries to ...
4      im new to the area and ive been craving my sta...
...                                                  ...
38098  the owner is the biggest ahole ever he gave me...
38099  ask for breasts and im always told there are n...
38100  the chicken we ordered was cold wasnt even a f...
38101  weve all probably been to a subway once or twi...
38102  first time there was yesterday for lunch our s...

      categorias_palabras_clave
0                            []
1                            []
2                            []
3                            []
4                            []
...                         ...
38098                        []
38099                        []
38100                        []
38101                        []
38102                        []

[38103 rows x 2 columns]

In [23]:
# Definir el diccionario de categorías de palabras clave con 10 adjetivos calificativos para cada categoría
categorias_palabras_clave = {
    'Restaurante': ['delicious', 'tasty', 'yummy', 'exquisite', 'savory', 'mouthwatering', 'flavorful', 'delectable', 'scrumptious', 'appetizing'],
    'Limpieza': ['clean', 'tidy', 'spotless', 'immaculate', 'hygienic', 'sanitary', 'neat', 'orderly', 'sterile', 'pristine'],
    'Comida': ['tasty', 'delicious', 'flavorful', 'delectable', 'scrumptious', 'mouthwatering', 'savory', 'appetizing', 'yummy', 'gastronomic'],
    'Atención': ['excellent', 'outstanding', 'attentive', 'helpful', 'courteous', 'impeccable', 'professional', 'friendly', 'exceptional', 'top-notch'],
    'Servicio': ['efficient', 'prompt', 'reliable', 'attentive', 'quick', 'responsive', 'helpful', 'courteous', 'professional', 'exemplary'],
    'Staff': ['friendly', 'helpful', 'attentive', 'knowledgeable', 'courteous', 'professional', 'welcoming', 'accommodating', 'approachable', 'responsive'],
}

# Función para asignar categorías basadas en palabras clave
def asignar_categoria(texto):
    for categoria, palabras_clave in categorias_palabras_clave.items():
        for palabra_clave in palabras_clave:
            if palabra_clave.lower() in texto.lower():
                return categoria
    return 'Sin Categoria'

# Aplicar la función a la columna 'text' para crear 'categorias_palabras_clave'
df['categorias_palabras_clave'] = df['text'].apply(asignar_categoria)

# Mostrar el DataFrame resultante con la nueva columna de categorías
print(df[['text', 'categorias_palabras_clave']])

                                                    text  \
0      ordered caramel frappe at drive thru big mista...
1      yummy but the staff refused to make a frappaci...
2      i went in there about 2 weeks ago for sandwich...
3      this starbucks took 25 minutes and 4 tries to ...
4      im new to the area and ive been craving my sta...
...                                                  ...
38098  the owner is the biggest ahole ever he gave me...
38099  ask for breasts and im always told there are n...
38100  the chicken we ordered was cold wasnt even a f...
38101  weve all probably been to a subway once or twi...
38102  first time there was yesterday for lunch our s...

      categorias_palabras_clave
0                 Sin Categoria
1                   Restaurante
2                 Sin Categoria
3                 Sin Categoria
4                 Sin Categoria
...                         ...
38098             Sin Categoria
38099             Sin Categoria
38100             Sin Categoria
38101                  Atención
38102             Sin Categoria

[38103 rows x 2 columns]

In [24]:
def clasificar_categorias(categorias):
    for categoria, palabras_clave in categorias_palabras_clave.items():
        for palabra_clave in palabras_clave:
            if palabra_clave in categorias:
                return categoria
    return 'Otros'  # Si no se encuentra ninguna categoría, se clasifica como 'otros'

In [25]:
# Aplicar la función a la columna 'categorias' y crear una nueva columna 'clasificacion'
df['clasificacion'] = df['filtrado'].apply(clasificar_categorias)

In [26]:
df[df['clasificacion']=='Otros']

,name,state,review_count,attributes,business_id,stars_y,text,categories,anio,mes,dia,filtrado,categorias_palabras_clave,clasificacion
0,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,ordered caramel frappe at drive thru big mista...,"restaurants, coffee & tea, food",2017,12,29,"[ordered, caramel, frappe, drive, thru, big, m...",Sin Categoria,Otros
2,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,i went in there about 2 weeks ago for sandwich...,"restaurants, coffee & tea, food",2017,1,30,"[went, 2, weeks, ago, sandwich, drink, use, al...",Sin Categoria,Otros
3,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,this starbucks took 25 minutes and 4 tries to ...,"restaurants, coffee & tea, food",2017,12,5,"[starbucks, took, 25, minutes, 4, tries, give,...",Sin Categoria,Otros
4,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,im new to the area and ive been craving my sta...,"restaurants, coffee & tea, food",2017,6,20,"[im, new, area, ive, craving, starbucks, littl...",Sin Categoria,Otros
5,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,incredibly rude and incompetent staff weve bee...,"restaurants, coffee & tea, food",2017,2,11,"[incredibly, rude, incompetent, staff, weve, s...",Sin Categoria,Otros
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38097,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,this particular location is so painfully slowa...,"american (traditional), fast food, restaurants...",2018,4,1,"[particular, location, painfully, slowalways, ...",Sin Categoria,Otros
38098,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the owner is the biggest ahole ever he gave me...,"american (traditional), fast food, restaurants...",2021,10,13,"[owner, biggest, ahole, ever, gave, much, atti...",Sin Categoria,Otros
38099,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,ask for breasts and im always told there are n...,"american (traditional), fast food, restaurants...",2021,11,3,"[ask, breasts, im, always, told, none, chicken...",Sin Categoria,Otros
38100,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the chicken we ordered was cold wasnt even a f...,"american (traditional), fast food, restaurants...",2021,12,26,"[chicken, ordered, cold, wasnt, even, full, ch...",Sin Categoria,Otros
38102,subway,fl,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",iZjH7SKfiPSplPIHvbhwtQ,4.5,first time there was yesterday for lunch our s...,"fast food, sandwiches, restaurants",2021,7,1,"[first, time, yesterday, lunch, server, perfec...",Sin Categoria,Otros

In [27]:
df.to_csv('Analisis1Yelp.csv', index=False )

In [28]:
from textblob import TextBlob

In [29]:
# Crear una nueva columna 'Sentiment' para almacenar los resultados del análisis de sentimiento
df['Sentimiento'] = df['text'].apply(lambda text: TextBlob(str(text)).sentiment.polarity)

In [30]:
# Clasificar el sentimiento en categorías (positivo, neutral, negativo)
def categorizar_sentimiento(polarity):
    if polarity > 0:
        return 'Positivo'
    elif polarity == 0:
        return 'Neutral'
    else:
        return 'Negativo'

df['Categ_Sentimiento'] = df['Sentimiento'].apply(categorizar_sentimiento)
df

,name,state,review_count,attributes,business_id,stars_y,text,categories,anio,mes,dia,filtrado,categorias_palabras_clave,clasificacion,Sentimiento,Categ_Sentimiento
0,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,ordered caramel frappe at drive thru big mista...,"restaurants, coffee & tea, food",2017,12,29,"[ordered, caramel, frappe, drive, thru, big, m...",Sin Categoria,Otros,0.000000,Neutral
1,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,yummy but the staff refused to make a frappaci...,"restaurants, coffee & tea, food",2017,5,26,"[yummy, staff, refused, make, frappacino, orde...",Restaurante,Restaurante,0.040926,Positivo
2,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,i went in there about 2 weeks ago for sandwich...,"restaurants, coffee & tea, food",2017,1,30,"[went, 2, weeks, ago, sandwich, drink, use, al...",Sin Categoria,Otros,0.232113,Positivo
3,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,this starbucks took 25 minutes and 4 tries to ...,"restaurants, coffee & tea, food",2017,12,5,"[starbucks, took, 25, minutes, 4, tries, give,...",Sin Categoria,Otros,-0.316667,Negativo
4,starbucks,pa,65,"{'BikeParking': 'False', 'RestaurantsPriceRang...",aJvxWyQIG5OLfBw3qAe8xA,3.0,im new to the area and ive been craving my sta...,"restaurants, coffee & tea, food",2017,6,20,"[im, new, area, ive, craving, starbucks, littl...",Sin Categoria,Otros,0.136911,Positivo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38098,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the owner is the biggest ahole ever he gave me...,"american (traditional), fast food, restaurants...",2021,10,13,"[owner, biggest, ahole, ever, gave, much, atti...",Sin Categoria,Otros,-0.066667,Negativo
38099,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,ask for breasts and im always told there are n...,"american (traditional), fast food, restaurants...",2021,11,3,"[ask, breasts, im, always, told, none, chicken...",Sin Categoria,Otros,-0.083333,Negativo
38100,kfc,in,5,"{'DriveThru': 'True', 'RestaurantsTakeOut': 'T...",Tj9FmBCHd84kjAE9vcoBnw,1.0,the chicken we ordered was cold wasnt even a f...,"american (traditional), fast food, restaurants...",2021,12,26,"[chicken, ordered, cold, wasnt, even, full, ch...",Sin Categoria,Otros,-0.364583,Negativo
38101,subway,fl,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",iZjH7SKfiPSplPIHvbhwtQ,4.5,weve all probably been to a subway once or twi...,"fast food, sandwiches, restaurants",2021,10,28,"[weve, probably, subway, twice, normally, woul...",Atención,Atención,0.259167,Positivo
38102,subway,fl,6,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",iZjH7SKfiPSplPIHvbhwtQ,4.5,first time there was yesterday for lunch our s...,"fast food, sandwiches, restaurants",2021,7,1,"[first, time, yesterday, lunch, server, perfec...",Sin Categoria,Otros,0.631481,Positivo

In [31]:
df.to_csv('RestoYelp_Analisis_sentimietnos.csv', index=False)