# Se parte el archivo review.json en partes para poder trabajarlo en local

In [1]:
import pandas as pd
import os

# Ruta al archivo JSON grande
input_json_file = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review.json"

# Directorio donde se guardarán las partes divididas
output_directory = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts"

# Crea el directorio de salida si no existe
os.makedirs(output_directory, exist_ok=True)

# Tamaño máximo de cada parte (ajusta según tus necesidades)
max_chunk_size = 200000  # por ejemplo, dividir en partes de 500,000 filas

# Lee el archivo JSON grande en un DataFrame de pandas
df = pd.read_json(input_json_file, lines=True, chunksize=max_chunk_size)

part_number = 0  # Inicializa el número de parte

for chunk in df:
    part_number += 1  # Incrementa el número de parte en cada iteración
    output_file = os.path.join(output_directory, f"part_{part_number}.json")
    chunk.to_json(output_file, orient="records", lines=True)

In [3]:
import pandas as pd
from IPython.display import display

# Lista de rutas a los archivos JSON
file_paths = [
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_1.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_2.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_3.json"
]

# Leer cada archivo JSON en un DataFrame de pandas y almacenarlo en una lista
dataframes = [pd.read_json(file_path, lines=True) for file_path in file_paths]

# Concatenar los DataFrames en uno solo
reviewYelp1_csv = pd.concat(dataframes, ignore_index=True)

# Guardar el DataFrame concatenado en un archivo CSV
output_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp1.csv"
reviewYelp1_csv.to_csv(output_csv, index=False)

display(reviewYelp1_csv)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
599995,UM5_6U6-VkhjPgUBIlTbpQ,E-3SqqAxaKZxTzo0wp7V2Q,cxupofYLq46bxBHpKyFwsQ,4,2,0,1,Stayed here the wknd of Labor Day/Decadence. ...,2019-09-17 18:26:11
599996,ITIq3k_wtfWrkZflMbXHwA,VigsAph76fP7pechJ743EA,WVX0JKV9ZP-r9bz0A4xAVw,4,27,15,24,Less crowded than Parksdale if you're craving ...,2020-01-27 14:19:10
599997,X8QM0_gTsvEatcslkuRDwQ,t8fTihkSkf2KpP_4Q_kPow,uO39--k_hrCFgZh-Bl8m8A,4,1,0,2,I've gone by this place and I've been wanting ...,2016-05-13 03:37:03
599998,7uBPnki8Jmoo5bjVZI2LZw,I-JKKX7PHHd_z9nNMkH6kg,SoEnVtFQWEhBUBQXq9O5Ag,5,2,0,2,I love OG!!! We started going to Metazoa becau...,2020-11-08 01:59:14
599999,3eFKgGCeQelZYF2PuutVGw,4PaGIGJ9pExEcODQjI4I8w,A9rVxmIBtHZRvNhbBaGAWg,5,1,0,1,One of the best Szechwan restaurants you can f...,2021-04-13 04:34:15

In [4]:
import pandas as pd
from IPython.display import display

# Lista de rutas a los archivos JSON
file_paths = [
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_4.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_5.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_6.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_7.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_8.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_9.json"
]

# Leer cada archivo JSON en un DataFrame de pandas y almacenarlo en una lista
dataframes = [pd.read_json(file_path, lines=True) for file_path in file_paths]

# Concatenar los DataFrames en uno solo
reviewYelp2_csv = pd.concat(dataframes, ignore_index=True)

# Guardar el DataFrame concatenado en un archivo CSV
output_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp2.csv"
reviewYelp2_csv.to_csv(output_csv, index=False)

display(reviewYelp2_csv)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,FzUIuyEv0-IGDD-HgNzMFw,ygkSutTb8BXT2FWet7HB4w,PVqNBGihp6yNv6HTQf7CjA,5,0,0,0,I live nearby and was tired of the same old na...,2018-08-01 13:18:03
1,X4pf__trHaFzzYCQnQNtSg,WDms6ne7odON8vtdL-b-xA,STtVemevd30WoiZWn_taiQ,5,0,0,0,This Pollo Tropical is great! Quick and friend...,2021-04-11 21:30:56
2,OaGJJMW1Bk2XD2yfmMlffg,ahgaIIujY6R8HsEJfRnLUw,MfyUK58sdUokMdIZNdem0w,1,0,1,0,Not happy with this place at all. Saw somethin...,2020-12-01 20:46:21
3,d8a0jFNvN7k-4CSv4d2HZQ,LzPNpoqbx3Pw18yX_aEHwA,7IU6885SDuzEA9JfrP--uQ,5,0,0,0,"This is hands down my new breakfast food spot,...",2021-04-06 15:43:59
4,FqJqBbDqrs-GK2HUW13tdQ,B7laWmiMZHgsxiHk2U9H9A,bqXjSL_8Pu_4xPL84EUjDw,5,9,3,9,What a cool place. Have a beer and a haircut. ...,2020-08-06 19:57:03
...,...,...,...,...,...,...,...,...,...
1199995,LRKTqfwebYI_ykIBe_hD0A,CaoImVzU4uMREOlT0HiEsg,LSh18uOYKvYUtVoRXAsrtw,5,0,0,0,This is an INCREDIBLE find right in the heart ...,2019-06-30 13:59:46
1199996,h_s2NSWtOxGxDP3k5aN4Cw,8TQ4QWrbS6nKvQAjvQMbug,SbppxCDhUulk7NrUUlDAzQ,5,1,0,0,"So very friendly, fast and efficient!! The re...",2015-01-17 15:56:18
1199997,KngJAp9Ezj2UG5gjn_0EDQ,arErTRPKj6vmaJSq9KeYaA,VWy97TpzjreU_78xotES2A,5,0,0,0,Wow punk rock times ten . The steps so hardcor...,2019-07-26 01:11:17
1199998,mGAVwDhyFhj09YiGNOr2VQ,wZLOsbGjrV5J7lf2bS2HCg,z5BLSMc92pwbGEqeaUPmDg,5,2,0,0,By far my favorite bar in the Arnold area. Th...,2019-05-01 23:56:14
1199999,vu7UfOLsUgCkkCl-nFd95A,aXOp6VtWZdQakAxZKgf_uQ,lS_P90LKJbVb2vFy5_nIEg,5,0,0,0,Outstanding job. Jim St. Vrain is quite knowl...,2019-05-18 00:23:06

In [5]:
import pandas as pd
from IPython.display import display

# Lista de rutas a los archivos JSON
file_paths = [
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_6.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_7.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_8.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_9.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_10.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_11.json"
]

# Leer cada archivo JSON en un DataFrame de pandas y almacenarlo en una lista
dataframes = [pd.read_json(file_path, lines=True) for file_path in file_paths]

# Concatenar los DataFrames en uno solo
reviewYelp3_csv = pd.concat(dataframes, ignore_index=True)

# Guardar el DataFrame concatenado en un archivo CSV
output_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp3.csv"
reviewYelp3_csv.to_csv(output_csv, index=False)

display(reviewYelp3_csv)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,1yzkzMBuDc0oIATmm-YT6A,batsML880B8-BMV1YBh0VQ,NLV0ppsHTiJk6JVdFSxVAQ,5,1,0,0,Pleasantly intrigued by the combination of bre...,2016-05-29 00:29:56
1,p1He-R5tvsxamxNF0Bf-cg,T9n6TKhnkqwh7u3a70O-pQ,c_xAbBTeiIHqPm1zMOvQcg,5,0,0,0,"I am not sure what I was expecting, but this w...",2016-11-19 04:50:47
2,fOOZEC8D2f1hI6bs08X3gQ,4zUi7exGanxHz_zXJuHjMw,Sv1MEZP-mMfp8SmE0hwYEA,5,0,0,0,Mmm....still thinking about it right now. The ...,2015-01-18 06:41:40
3,ZoeZ_aC_CiWSuqvfe38nAQ,bHNxtcIKeU5Ifnd4BwBoWw,KBG3GV4WHU-iLLSWiapbJw,4,0,0,0,Very good even by Nashville and non-Nashville ...,2011-05-10 02:24:14
4,ygAtxZ1Gaimqj8IZGPobRA,W9zN7u6b-e3bkZ69W92fig,BX3LLonrLLLfVX-tNrE7yA,5,1,0,0,New location is beautiful! This location is st...,2017-11-28 18:22:51
...,...,...,...,...,...,...,...,...,...
1199995,Q5lUOm4N05NJz8RlrG0nog,hfLkWDNieilUbTuEkybFLg,6HNszS8BiN0YnZo0EAR-cg,5,0,0,0,Went through the drive through last night for ...,2017-05-29 02:51:08
1199996,bct-hnZ8-eWNJh_hMO_flw,6IzPa7zHSyuIe5paysUS7g,cIBr1KeRLTpgvTpF8z2nFQ,1,1,0,0,I was looking for a good local bar to watch th...,2017-11-21 21:38:09
1199997,ez_utgXLidbz6h2_Hq-eag,vhBJpop-h0FfMHo6tgrylg,aUKJV9lm51p3wMUINUd30w,4,2,0,1,"Great value, consistent with quality and taste...",2012-02-06 05:35:58
1199998,NY7gXwwyAnB5wVVagxpjcQ,UWd3UGp58geAgATyto1phA,56pLT7QeoPsnpKRw_dtaXg,3,0,0,0,Convenient location. Ate dinner there last nit...,2015-06-11 16:08:21
1199999,sEGOrddgZLe290kAHs0GtQ,LOh-Ow_3s5w5wBix8Htd8w,HKS-63JzfR0DMNVLBuokYw,4,0,1,0,Let me just start this review by saying I am a...,2013-03-21 13:22:45

In [6]:
import pandas as pd
from IPython.display import display

# Lista de rutas a los archivos JSON
file_paths = [
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_12.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_13.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_14.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_15.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_16.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_17.json"
]

# Leer cada archivo JSON en un DataFrame de pandas y almacenarlo en una lista
dataframes = [pd.read_json(file_path, lines=True) for file_path in file_paths]

# Concatenar los DataFrames en uno solo
reviewYelp4_csv = pd.concat(dataframes, ignore_index=True)

# Guardar el DataFrame concatenado en un archivo CSV
output_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp4.csv"
reviewYelp4_csv.to_csv(output_csv, index=False)

display(reviewYelp4_csv)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,tddkSqk5iIlF0kIIV-I7ew,r7-NuBhrgFd8zm0ci13HcQ,oIA-gfxJAM0gjb0C39d24Q,3,2,0,1,"Not my first In N Out, but its nice to get on...",2016-12-21 16:06:50
1,5Lyt_PDPlHdLkejk9uq4Jw,1W2ZqgEIjVffDS-QXkd4oA,cp2ZSHXibAxCHvJoPPyLag,3,1,0,0,I was in NOLA for a few days and craving salmo...,2013-04-14 15:49:45
2,YKxrVp07Q53x-P2buThANA,-g8mbRk54fHks-38JkwwkA,6lwgfwZkEnRHYcp6jKWlIA,4,0,0,0,Food was great and came out in good time. Our ...,2018-10-03 21:44:03
3,XITVk2Ggfus_YFT8it82WQ,SdurPEg9GYWvBp-NcEF4ew,iDrmpQwGAAmftLzWqxEomg,5,0,0,0,"What a great lunch today, my waitress Ms.Jonni...",2017-05-11 21:34:54
4,Id1E7Jd55cpWC0S94WBgzw,mjCZ94x9qHzeexz0_J4ruA,rjFGFcTduZ5wh-5pl1IbCg,5,0,0,0,Tours by Isabelle is a professional outfit. I ...,2017-01-05 01:43:38
...,...,...,...,...,...,...,...,...,...
1199995,iFM1mN1OUEHjWDHViOFXqA,_f7Goq0_ha76YUJYnDepcg,vEsBq8kDrkQ-Yi3cWJpV6A,5,0,0,0,Amazing customer service!!!!! Got exactly what...,2019-11-05 21:25:56
1199996,WoyWPBfIVFruVpp7_HUGtw,aMjLR96KI5M2nMDDU1FT4g,3WGHOrb3MwoBJNJCkHwCdg,5,5,2,1,Sierra Tucson changed my life. The month that ...,2020-03-04 20:14:03
1199997,rkBB5IojwNxGuFUn6rGJeA,xJpll6rEHzYeOe1XSV7DXw,f1zEJ0teMABD3urmvikjgw,5,0,0,0,This place is amazing. My window was smashed o...,2020-11-23 22:59:24
1199998,-lMNkF8XuHxef82HkoNhgw,gWI2w3BEsuVdB5FlYJZWCw,j7LZM6rf4Bf33exo6XXKGA,1,2,0,0,The quality of the staff needs a lot of work.....,2019-09-11 04:20:10
1199999,rNH1GQA8jsm6rTuAuczaZA,vRVI0ourDUWQY7PLt65e-A,sYhHFlE1l9wWrWmhRjAlxw,1,0,0,0,I have never been treated so poorly by an esta...,2019-04-15 22:46:55

In [7]:
import pandas as pd
from IPython.display import display

# Lista de rutas a los archivos JSON
file_paths = [
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_18.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_19.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_20.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_21.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_22.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_23.json"
]

# Leer cada archivo JSON en un DataFrame de pandas y almacenarlo en una lista
dataframes = [pd.read_json(file_path, lines=True) for file_path in file_paths]

# Concatenar los DataFrames en uno solo
reviewYelp5_csv = pd.concat(dataframes, ignore_index=True)

# Guardar el DataFrame concatenado en un archivo CSV
output_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp5.csv"
reviewYelp5_csv.to_csv(output_csv, index=False)

display(reviewYelp5_csv)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8S4tqXXB7KoSWLPuU6H9UA,fxHHP4nQDIfv1heJSgQtvQ,eikRexw04kC6siBDkFnayQ,5,0,0,0,"In my 43 years on planet earth, I've never had...",2020-11-23 18:20:19
1,B7B7WmlS8qBVmylGU9FJng,kkPgJv6KBFN15caG7NYYlg,l7VClHY6vvoTBSCP1-ZUmw,5,1,0,0,We were very happy with this business when we ...,2020-12-04 20:14:18
2,l6gs8FVsbHERT-zI1mLmOQ,IsfzrB80aWj9jYVaG3WrzA,mK4gpsdN7qqb2MMUYbQb7A,4,2,0,0,We pulled into the dock from our morning fishi...,2018-02-20 02:17:07
3,_6-suMMDZ_8m3qpjvrdtBA,crGnkZCp9Rr-Frclf6kjPg,pGM44vXYa6lke-dU4h-xpA,5,0,0,0,Super awesome staff from the moment you walk i...,2020-09-12 00:07:20
4,xgULgSlXSDNmA7IxvS3qcQ,pj7MtKv6rLlMvOriCTaJDQ,pfl45YV5Us5NvDm5cLremw,5,5,0,0,"We stayed just one night, our first little tri...",2020-09-01 05:15:23
...,...,...,...,...,...,...,...,...,...
1199995,sYGqb0nnxJBm9zcfUWJQwg,pxzlF15TeaOEfywPqJzb8w,iqJ3t9iq0fsWaYL93s8Vmw,5,0,0,0,Biggest mall on the east coast. Part of the ma...,2015-06-05 04:49:18
1199996,sk0u5_JGp7ds-F70WDigMQ,gJzn1FUDX6IVQDBqPk3ImQ,4nxuxFc-0V-jamtZJfFOcw,5,1,0,0,"Bottom line, these guys are legit. Jeremy and ...",2016-03-30 14:23:38
1199997,U3XSCW0L1FJo3lte83pf2Q,XYINsnpNvF8FdiwT-wNcBw,GXFMD0Z4jEVZBCsbPf4CTQ,4,0,0,0,"Obviously their hot chicken is legendary, enou...",2015-07-28 02:22:10
1199998,azW-P3zDtWeO4LQ9W8XETA,Z-ee4V5_ZFsI2ltccSpqyw,VcamrM5awvkJrvkBgUNaIw,4,2,1,0,"After a morning of hiking at Castlewood, an In...",2011-04-10 19:45:16
1199999,WJDY2B4Oh4e7mE-IGAj9Iw,Sm-inagBYXRReJxK5B2hPA,7-767IyQtw_BwyQTcHpQnA,4,0,0,0,Great ice cream in a cute beach shop! We walke...,2014-05-24 18:36:59

In [8]:
import pandas as pd
from IPython.display import display

# Lista de rutas a los archivos JSON
file_paths = [
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_24.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_25.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_26.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_27.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_28.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_29.json"
]

# Leer cada archivo JSON en un DataFrame de pandas y almacenarlo en una lista
dataframes = [pd.read_json(file_path, lines=True) for file_path in file_paths]

# Concatenar los DataFrames en uno solo
reviewYelp6_csv = pd.concat(dataframes, ignore_index=True)

# Guardar el DataFrame concatenado en un archivo CSV
output_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp6.csv"
reviewYelp6_csv.to_csv(output_csv, index=False)

display(reviewYelp6_csv)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,M-bBlFEkwMbo55ltiSJtQw,NvVVUaXEF3Rh5kpABndmOA,wP4m78FJc-fyg8fLhHQ-ZQ,5,0,0,0,I have been shopping Costco for over 36 years ...,2018-08-03 08:48:06
1,Xu6J741ZiM8iF22IyWq90w,IY2RQpgfAQezW8vTANFGlg,wz8ZPfySQczcPgSyd33-HQ,1,1,0,0,Staying in this hotel right now with blackout ...,2013-12-24 07:24:28
2,106B1xs9hR3I9nx3763b8A,nMqEbfUr5nQYUN-50gcpkQ,YVtmLzTDDEZcP7ywMqTkRw,4,0,0,0,I was back Tuesday night for their $19 Team Pl...,2009-12-18 09:10:04
3,36VWqtBacEILeqoDvkA4DQ,C0s7FssA4GzD6w8L56cxdA,6a4gLLFSgr-Q6CZXDLzBGQ,4,1,0,1,Cochon was marvelous. Can't go wrong with any ...,2012-01-20 01:05:37
4,CL-5fug023ms3H0Bfj12gQ,tLZWTsvtOMNEbe9vL6e67w,s1Ye1o9JL77vs5g3F0CF5A,1,0,0,0,"Worse service!!! Slower than slow, give yourse...",2018-04-26 19:05:52
...,...,...,...,...,...,...,...,...,...
1199995,SqTnQo67fzr_KPk-igptPA,sqLmAYQGfxDWu6nKv8OMNg,dMGWB4TEfEhgInQefGimAw,4,0,0,0,"I'm new in town, and discovered this place whe...",2011-06-14 06:18:13
1199996,oG9N4W9mgvBnlYEGE4HF_g,bsNS8tvMDn9ntB8OP3rNsw,BNNqq4Ut7tmnVAYiaEhMsw,2,4,0,0,Let me start by stating that I am a big fan of...,2014-11-23 16:31:43
1199997,y8CS4z4alNT_Q4JNF-7tvQ,wN2f5qD2tbiD0xpZsrUC2A,xhAzk9qYpHR-nu_0sZIcWg,2,0,0,0,Baklava was the size of my thumb. Fast deliver...,2018-09-10 04:01:29
1199998,TTH0z_M_C6ZHGKzvs6H7iw,3khXY9FdsXI10bf5539pOg,GEdrmeb5ubO2Gq5MgMxDtQ,5,0,0,1,Personally I found this location to be excelle...,2018-06-06 23:36:24
1199999,6SHDFaYrAo-gMXky0EeoGw,-JcNHKthxPv9AJZcCmdKWQ,thFrL729C7nPDAKdTTcvVw,3,0,0,0,For $5 you can come to this little voodoo muse...,2011-09-14 00:54:09

In [9]:
import pandas as pd
from IPython.display import display

# Lista de rutas a los archivos JSON
file_paths = [
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_30.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_31.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_32.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_33.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_34.json",
    "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/review_parts/part_35.json"
]

# Leer cada archivo JSON en un DataFrame de pandas y almacenarlo en una lista
dataframes = [pd.read_json(file_path, lines=True) for file_path in file_paths]

# Concatenar los DataFrames en uno solo
reviewYelp7_csv = pd.concat(dataframes, ignore_index=True)

# Guardar el DataFrame concatenado en un archivo CSV
output_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp7.csv"
reviewYelp7_csv.to_csv(output_csv, index=False)

display(reviewYelp7_csv)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,ar5Xy4FZLviv-xFxEUiWlQ,Pc0Keed-RgXSlyd4BXhb5g,nR3VW9i2K8033QY0ZMTisw,4,0,0,0,I'm obsessed with sushi and could eat it every...,2016-05-16 20:28:03
1,izBBz4xTXbPNRLs2TVOosQ,yQuwIjZeKJIZDiIitsIENQ,zI_io7SVTzU9fNOpqcKNdA,4,1,0,1,Want a great ice cream cone? Look no further t...,2016-10-24 23:13:25
2,J-GHkqsrHy3pztjbaqUBLg,qLsS_1YJTypJg_JcCSKeaw,yPSejq3_erxo9zdVYTBnZA,5,0,0,0,This is the best Mexico food I ever had. I and...,2018-08-22 19:58:57
3,9DI78aMAjEVNLLuZ8K9Bjw,MwOk88w7W-Ok6g-KzCGpCA,qOrd_jWT3e16_wwRSpvYwQ,4,0,0,0,"Nice ambience, friendly staff. Food was good, ...",2014-12-15 18:18:20
4,NT3T9R2iuos5VF2Bb6nmdw,KCMhTqFOtxlyroerv-MQAA,z31te0YMSegTdktp3qYqGw,4,0,0,0,Ate here last night for my Birthday. I love g...,2011-02-03 02:36:07
...,...,...,...,...,...,...,...,...,...
1190275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
1190276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
1190277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
1190278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
1190279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

# Se trabaja con los 7 archivos de review en los que quedó transformado luego de pasarlo a scv

In [1]:
import pandas as pd

# Ruta del archivo CSV
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp1.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Ver los tipos de datos de las columnas
tipos_de_datos = df.dtypes
print(tipos_de_datos)

review_id      object
user_id        object
business_id    object
stars           int64
useful          int64
funny           int64
cool            int64
text           object
date           object
dtype: object

In [2]:
import pandas as pd
from IPython.display import display

# Ruta del archivo CSV original
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp1.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Modificar los tipos de datos de las columnas
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])

# Filtrar por fechas a partir de 2017
filtro_fecha = df['date'].dt.year >= 2017
df_filtrado = df[filtro_fecha]

# Ruta para guardar el nuevo archivo CSV
archivo_csv_filtrado = "ReviewYelp1ro.csv"

# Guardar el DataFrame filtrado en un nuevo archivo CSV
df_filtrado.to_csv(archivo_csv_filtrado, index=False)

# Mostrar el DataFrame filtrado usando display
display(df_filtrado)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
24,lUUhg8ltDsUZ9h0xnwY4Dg,RreNy--tOmXMl1en0wiBOg,cPepkJeRMtHapc_b2Oe_dw,4,1,0,1,I was really between 3 and 4 stars for this on...,2018-07-17 03:30:07
30,-P5E9BYUaK7s3PwBF5oAyg,Jha0USGDMefGFRLik_xFQg,bMratNjTG5ZFEA6hVyr-xQ,5,0,0,0,First time there and it was excellent!!! It fe...,2017-02-19 13:32:05
31,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5,0,0,0,"Great burgers,fries and salad! Burgers have a...",2017-01-02 03:17:34
...,...,...,...,...,...,...,...,...,...
599994,XGOAD0UF2QdpyFN2Me0iRw,SrgEux62Uc4OrF8OEri0Mw,c6qyEglw37vrDnUXabvWvw,5,2,0,1,"Incredibly responsive, communicates well and e...",2018-05-08 23:59:01
599995,UM5_6U6-VkhjPgUBIlTbpQ,E-3SqqAxaKZxTzo0wp7V2Q,cxupofYLq46bxBHpKyFwsQ,4,2,0,1,Stayed here the wknd of Labor Day/Decadence. ...,2019-09-17 18:26:11
599996,ITIq3k_wtfWrkZflMbXHwA,VigsAph76fP7pechJ743EA,WVX0JKV9ZP-r9bz0A4xAVw,4,27,15,24,Less crowded than Parksdale if you're craving ...,2020-01-27 14:19:10
599998,7uBPnki8Jmoo5bjVZI2LZw,I-JKKX7PHHd_z9nNMkH6kg,SoEnVtFQWEhBUBQXq9O5Ag,5,2,0,2,I love OG!!! We started going to Metazoa becau...,2020-11-08 01:59:14
599999,3eFKgGCeQelZYF2PuutVGw,4PaGIGJ9pExEcODQjI4I8w,A9rVxmIBtHZRvNhbBaGAWg,5,1,0,1,One of the best Szechwan restaurants you can f...,2021-04-13 04:34:15

In [3]:
import pandas as pd
from IPython.display import display

# Ruta del archivo CSV original
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp2.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Modificar los tipos de datos de las columnas
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])

# Filtrar por fechas a partir de 2017
filtro_fecha = df['date'].dt.year >= 2017
df_filtrado = df[filtro_fecha]

# Ruta para guardar el nuevo archivo CSV
archivo_csv_filtrado = "ReviewYelp2do.csv"

# Guardar el DataFrame filtrado en un nuevo archivo CSV
df_filtrado.to_csv(archivo_csv_filtrado, index=False)

# Mostrar el DataFrame filtrado usando display
display(df_filtrado)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,FzUIuyEv0-IGDD-HgNzMFw,ygkSutTb8BXT2FWet7HB4w,PVqNBGihp6yNv6HTQf7CjA,5,0,0,0,I live nearby and was tired of the same old na...,2018-08-01 13:18:03
1,X4pf__trHaFzzYCQnQNtSg,WDms6ne7odON8vtdL-b-xA,STtVemevd30WoiZWn_taiQ,5,0,0,0,This Pollo Tropical is great! Quick and friend...,2021-04-11 21:30:56
2,OaGJJMW1Bk2XD2yfmMlffg,ahgaIIujY6R8HsEJfRnLUw,MfyUK58sdUokMdIZNdem0w,1,0,1,0,Not happy with this place at all. Saw somethin...,2020-12-01 20:46:21
3,d8a0jFNvN7k-4CSv4d2HZQ,LzPNpoqbx3Pw18yX_aEHwA,7IU6885SDuzEA9JfrP--uQ,5,0,0,0,"This is hands down my new breakfast food spot,...",2021-04-06 15:43:59
4,FqJqBbDqrs-GK2HUW13tdQ,B7laWmiMZHgsxiHk2U9H9A,bqXjSL_8Pu_4xPL84EUjDw,5,9,3,9,What a cool place. Have a beer and a haircut. ...,2020-08-06 19:57:03
...,...,...,...,...,...,...,...,...,...
1199994,5g1GgoEJoAe5VQ_YI3r1dA,uIlCf7VLBwXyw-hPwAg7DA,HuECL2Vymf6WXvnE1_bvRA,5,0,0,0,Love this place! Their matcha green tea latte ...,2019-05-08 19:52:52
1199995,LRKTqfwebYI_ykIBe_hD0A,CaoImVzU4uMREOlT0HiEsg,LSh18uOYKvYUtVoRXAsrtw,5,0,0,0,This is an INCREDIBLE find right in the heart ...,2019-06-30 13:59:46
1199997,KngJAp9Ezj2UG5gjn_0EDQ,arErTRPKj6vmaJSq9KeYaA,VWy97TpzjreU_78xotES2A,5,0,0,0,Wow punk rock times ten . The steps so hardcor...,2019-07-26 01:11:17
1199998,mGAVwDhyFhj09YiGNOr2VQ,wZLOsbGjrV5J7lf2bS2HCg,z5BLSMc92pwbGEqeaUPmDg,5,2,0,0,By far my favorite bar in the Arnold area. Th...,2019-05-01 23:56:14
1199999,vu7UfOLsUgCkkCl-nFd95A,aXOp6VtWZdQakAxZKgf_uQ,lS_P90LKJbVb2vFy5_nIEg,5,0,0,0,Outstanding job. Jim St. Vrain is quite knowl...,2019-05-18 00:23:06

In [4]:
import pandas as pd
from IPython.display import display

# Ruta del archivo CSV original
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp3.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Modificar los tipos de datos de las columnas
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])

# Filtrar por fechas a partir de 2017
filtro_fecha = df['date'].dt.year >= 2017
df_filtrado = df[filtro_fecha]

# Ruta para guardar el nuevo archivo CSV
archivo_csv_filtrado = "ReviewYelp3ro.csv"

# Guardar el DataFrame filtrado en un nuevo archivo CSV
df_filtrado.to_csv(archivo_csv_filtrado, index=False)

# Mostrar el DataFrame filtrado usando display
display(df_filtrado)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
4,ygAtxZ1Gaimqj8IZGPobRA,W9zN7u6b-e3bkZ69W92fig,BX3LLonrLLLfVX-tNrE7yA,5,1,0,0,New location is beautiful! This location is st...,2017-11-28 18:22:51
7,PlrmW2F7dksNL9JH2tO3-Q,i5xSc8B5LrOW7MFNGSFVuw,J1bG9ezYHMkzqV1yRsVtQQ,4,0,0,0,Came here at the recommendation of the concier...,2017-04-06 01:04:26
8,J29BCSfMus7NPzVRyRstIg,VBjAZ4JxPmaqRqBVbhjRGQ,aSkAeE5w4CEAXdUrlVEygA,1,0,0,0,The worst Domino's I've ever been to. I stoppe...,2018-06-15 09:47:33
10,lyD5iMWEuAM3sWQCHRlOig,KwI-RhKF_5EIK2-jRdWNfg,N4TImiSncqw-FTXT2a-sVw,5,0,0,0,Jared was able to fit me in the day I called. ...,2018-06-16 19:13:00
13,rwUvvaUmQzYU4Ca7iGz5nA,ObZnTiwMA-4gaTqa1_mB6A,akPsFyMCb2D90nCsSXBZfQ,3,1,0,0,We drove up to the Hilltop for dinner based on...,2018-07-02 02:55:21
...,...,...,...,...,...,...,...,...,...
1199986,MOIvcRrGKOoRrclXCboUog,1Nm8RCdOWCXXeKiQWlR5Ew,-aZnEYYTqwE5Hc5YKp_HjQ,5,0,0,0,Welcoming atmosphere with people of all differ...,2017-07-29 19:27:12
1199989,w_DkugGUJQfK8ColecS3sA,kDoGqGCaBSl45J4iuXA4pg,ADYj43RUBPLibJyE0RJ8lQ,5,0,0,0,"Love the food there , especially boneless spar...",2018-04-05 02:23:06
1199991,lJbN8xKLHGowvxi-xtNQVQ,pMIDgk56JtJl-XRlPYGp-w,x3pTbsABLypwEoTdwQOmSg,1,1,0,0,My niece recently bought some mini chimisi fro...,2018-02-12 00:04:05
1199995,Q5lUOm4N05NJz8RlrG0nog,hfLkWDNieilUbTuEkybFLg,6HNszS8BiN0YnZo0EAR-cg,5,0,0,0,Went through the drive through last night for ...,2017-05-29 02:51:08
1199996,bct-hnZ8-eWNJh_hMO_flw,6IzPa7zHSyuIe5paysUS7g,cIBr1KeRLTpgvTpF8z2nFQ,1,1,0,0,I was looking for a good local bar to watch th...,2017-11-21 21:38:09

In [5]:
import pandas as pd
from IPython.display import display

# Ruta del archivo CSV original
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp4.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Modificar los tipos de datos de las columnas
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])

# Filtrar por fechas a partir de 2017
filtro_fecha = df['date'].dt.year >= 2017
df_filtrado = df[filtro_fecha]

# Ruta para guardar el nuevo archivo CSV
archivo_csv_filtrado = "ReviewYelp4to.csv"

# Guardar el DataFrame filtrado en un nuevo archivo CSV
df_filtrado.to_csv(archivo_csv_filtrado, index=False)

# Mostrar el DataFrame filtrado usando display
display(df_filtrado)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
2,YKxrVp07Q53x-P2buThANA,-g8mbRk54fHks-38JkwwkA,6lwgfwZkEnRHYcp6jKWlIA,4,0,0,0,Food was great and came out in good time. Our ...,2018-10-03 21:44:03
3,XITVk2Ggfus_YFT8it82WQ,SdurPEg9GYWvBp-NcEF4ew,iDrmpQwGAAmftLzWqxEomg,5,0,0,0,"What a great lunch today, my waitress Ms.Jonni...",2017-05-11 21:34:54
4,Id1E7Jd55cpWC0S94WBgzw,mjCZ94x9qHzeexz0_J4ruA,rjFGFcTduZ5wh-5pl1IbCg,5,0,0,0,Tours by Isabelle is a professional outfit. I ...,2017-01-05 01:43:38
5,fXd3tmkyYHHADIjmAHPE4g,1-D3QVbNFREg1_Axm3xk0Q,6KoyHbN2qSUsioqrjXLeEg,5,0,0,0,"Great atmosphere, great service and amazing fo...",2017-10-04 01:55:12
6,N_j3rAU6I5Cbdyh-b2Lv2g,4A5vxdLlC9fcb9ViGLh0eg,Dbgv4FjJ89mkhRz9fefBpw,5,0,0,1,This is the first time posting on Yelp. Yet I...,2018-08-25 19:33:08
...,...,...,...,...,...,...,...,...,...
1199995,iFM1mN1OUEHjWDHViOFXqA,_f7Goq0_ha76YUJYnDepcg,vEsBq8kDrkQ-Yi3cWJpV6A,5,0,0,0,Amazing customer service!!!!! Got exactly what...,2019-11-05 21:25:56
1199996,WoyWPBfIVFruVpp7_HUGtw,aMjLR96KI5M2nMDDU1FT4g,3WGHOrb3MwoBJNJCkHwCdg,5,5,2,1,Sierra Tucson changed my life. The month that ...,2020-03-04 20:14:03
1199997,rkBB5IojwNxGuFUn6rGJeA,xJpll6rEHzYeOe1XSV7DXw,f1zEJ0teMABD3urmvikjgw,5,0,0,0,This place is amazing. My window was smashed o...,2020-11-23 22:59:24
1199998,-lMNkF8XuHxef82HkoNhgw,gWI2w3BEsuVdB5FlYJZWCw,j7LZM6rf4Bf33exo6XXKGA,1,2,0,0,The quality of the staff needs a lot of work.....,2019-09-11 04:20:10
1199999,rNH1GQA8jsm6rTuAuczaZA,vRVI0ourDUWQY7PLt65e-A,sYhHFlE1l9wWrWmhRjAlxw,1,0,0,0,I have never been treated so poorly by an esta...,2019-04-15 22:46:55

In [6]:
import pandas as pd
from IPython.display import display

# Ruta del archivo CSV original
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp5.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Modificar los tipos de datos de las columnas
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])

# Filtrar por fechas a partir de 2017
filtro_fecha = df['date'].dt.year >= 2017
df_filtrado = df[filtro_fecha]

# Ruta para guardar el nuevo archivo CSV
archivo_csv_filtrado = "ReviewYelp5to.csv"

# Guardar el DataFrame filtrado en un nuevo archivo CSV
df_filtrado.to_csv(archivo_csv_filtrado, index=False)

# Mostrar el DataFrame filtrado usando display
display(df_filtrado)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8S4tqXXB7KoSWLPuU6H9UA,fxHHP4nQDIfv1heJSgQtvQ,eikRexw04kC6siBDkFnayQ,5,0,0,0,"In my 43 years on planet earth, I've never had...",2020-11-23 18:20:19
1,B7B7WmlS8qBVmylGU9FJng,kkPgJv6KBFN15caG7NYYlg,l7VClHY6vvoTBSCP1-ZUmw,5,1,0,0,We were very happy with this business when we ...,2020-12-04 20:14:18
2,l6gs8FVsbHERT-zI1mLmOQ,IsfzrB80aWj9jYVaG3WrzA,mK4gpsdN7qqb2MMUYbQb7A,4,2,0,0,We pulled into the dock from our morning fishi...,2018-02-20 02:17:07
3,_6-suMMDZ_8m3qpjvrdtBA,crGnkZCp9Rr-Frclf6kjPg,pGM44vXYa6lke-dU4h-xpA,5,0,0,0,Super awesome staff from the moment you walk i...,2020-09-12 00:07:20
4,xgULgSlXSDNmA7IxvS3qcQ,pj7MtKv6rLlMvOriCTaJDQ,pfl45YV5Us5NvDm5cLremw,5,5,0,0,"We stayed just one night, our first little tri...",2020-09-01 05:15:23
...,...,...,...,...,...,...,...,...,...
1199978,NcOtEQJjQGv268H9GcRLYA,WqeE5e5ROfaVEgkb9dAkiQ,YQvVAKCpPcOJHwwrMad4KA,4,0,1,0,Great local Indian food. Portion of food and p...,2017-07-17 04:37:16
1199980,NuXNUfNEQZMhDJy_pzfKqw,bbt00DeGm_Ofk_7pF_VHrg,jOaJ4PFGhGiM8fhuYcYFRg,5,0,0,0,This is the best cheese steak in town. Curry c...,2017-03-26 18:09:36
1199981,TMfr6wNyzWCY_BO0fygs-Q,ecTzQfyycPiXkB3hkHDTPw,nTPTqC40pXELp3LOrCtXIA,5,1,0,0,"NOLA has been long overdue for a good, compreh...",2018-08-13 18:20:25
1199984,RHQC9COXfwoPAoveRShVjw,msFsKlA7TLYDczGiyEY0zg,6FX09pOrazvGT9s6_nQ7CQ,5,0,0,0,Coffee was excellent\nFood was delicious and p...,2017-06-15 22:16:51
1199985,zl5NxYwSgepEVmF7Kc_PAA,0kcRK0ZbMSy651okpOGPqA,tVELQMCI0485CPvgtTlMDA,5,0,0,0,"My wife and I went in last week and wow, just ...",2017-11-18 02:30:41

In [7]:
import pandas as pd
from IPython.display import display

# Ruta del archivo CSV original
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp6.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Modificar los tipos de datos de las columnas
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])

# Filtrar por fechas a partir de 2017
filtro_fecha = df['date'].dt.year >= 2017
df_filtrado = df[filtro_fecha]

# Ruta para guardar el nuevo archivo CSV
archivo_csv_filtrado = "ReviewYelp6to.csv"

# Guardar el DataFrame filtrado en un nuevo archivo CSV
df_filtrado.to_csv(archivo_csv_filtrado, index=False)

# Mostrar el DataFrame filtrado usando display
display(df_filtrado)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,M-bBlFEkwMbo55ltiSJtQw,NvVVUaXEF3Rh5kpABndmOA,wP4m78FJc-fyg8fLhHQ-ZQ,5,0,0,0,I have been shopping Costco for over 36 years ...,2018-08-03 08:48:06
4,CL-5fug023ms3H0Bfj12gQ,tLZWTsvtOMNEbe9vL6e67w,s1Ye1o9JL77vs5g3F0CF5A,1,0,0,0,"Worse service!!! Slower than slow, give yourse...",2018-04-26 19:05:52
6,P7-8hPhCUO85I-GIKHcBhQ,j3pH0tFM1_KpOyUnHggfbg,i71_nBmHyEEQ95C4q5ywfQ,4,0,0,0,This was my first visit to the Frog Pond after...,2018-01-08 19:27:11
8,-cwIHC-gDqKQY6_R__N-cQ,bQI9tuBTusP58fsw8yKgDQ,k6IiU_AZOZc6myOXfV1-IA,1,0,0,0,Long story short. They take my card info and t...,2017-07-17 04:25:23
12,IlwuZAtAbeiDKee3DPLvzw,D6bOJnI4rAvPrU4wisxzRA,wulFpnfqcRP8PNIcHaVdAA,5,1,0,1,Cutest little bakery! Went in on my birthday a...,2018-01-08 19:06:27
...,...,...,...,...,...,...,...,...,...
1199987,9yxhzS_Xd_VOxgSrnBdp0w,BQkdnYJI5s0uDBAXLPYzmA,csfMjRRfr-sku6L6bhEf_A,1,0,0,0,"Food is OK, no cash, electronic receipt never ...",2017-07-01 20:22:16
1199988,hHPhepr2cPtEwcrVMRJNcA,k7Zjd36zIIZZPX-KdivZlw,c-iKAO2GBzSKjm7y1Oljcw,4,0,0,0,Great meal! The red fish special was amazing....,2017-09-19 00:04:01
1199992,5Rwc4Uws-SmUAOklCvMO_w,9UNkH6XOUs7ZNkSFZGOAmQ,5j9TfW8RrdkpaHlaBwt6bQ,4,0,0,1,Service was good and attentive without being t...,2017-01-20 19:55:20
1199997,y8CS4z4alNT_Q4JNF-7tvQ,wN2f5qD2tbiD0xpZsrUC2A,xhAzk9qYpHR-nu_0sZIcWg,2,0,0,0,Baklava was the size of my thumb. Fast deliver...,2018-09-10 04:01:29
1199998,TTH0z_M_C6ZHGKzvs6H7iw,3khXY9FdsXI10bf5539pOg,GEdrmeb5ubO2Gq5MgMxDtQ,5,0,0,1,Personally I found this location to be excelle...,2018-06-06 23:36:24

In [8]:
import pandas as pd
from IPython.display import display

# Ruta del archivo CSV original
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/reviewYelp7.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(archivo_csv)

# Modificar los tipos de datos de las columnas
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])

# Filtrar por fechas a partir de 2017
filtro_fecha = df['date'].dt.year >= 2017
df_filtrado = df[filtro_fecha]

# Ruta para guardar el nuevo archivo CSV
archivo_csv_filtrado = "ReviewYelp7mo.csv"

# Guardar el DataFrame filtrado en un nuevo archivo CSV
df_filtrado.to_csv(archivo_csv_filtrado, index=False)

# Mostrar el DataFrame filtrado usando display
display(df_filtrado)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
2,J-GHkqsrHy3pztjbaqUBLg,qLsS_1YJTypJg_JcCSKeaw,yPSejq3_erxo9zdVYTBnZA,5,0,0,0,This is the best Mexico food I ever had. I and...,2018-08-22 19:58:57
7,Vo5GCOXUQnu-6QIF1p4DhA,alxetHC3mXR2PtG8CeCN6Q,7Y_BCrWzvzHyPtaLsacL7Q,4,0,0,0,Outdoor enclosed garden. Very pretty but kind ...,2018-08-09 02:46:37
12,EXIAkcgUklM9AFWN8xdeSg,__FzScrH7kzHXdZpS_wjfA,DZYSb9amfB3EAh1IdwtbEA,3,2,0,0,This is my first time eating at this location....,2018-07-30 00:01:44
22,svCl7Bq0ikDoNfIF5W2_5A,nZt_peXDet39VuLBD3nNXw,MuQ-irulfi6V8N9Ka6XBHQ,5,0,0,1,Update: We have been here several times since ...,2018-04-19 02:08:32
27,mvA0bX3WjYF_bArDS18qWg,kQpDOF6EQgjDz_S0aww9hA,q9Pupuw6Z2b8WaYK-MGt4g,5,0,0,0,The avocado toast is to die for. I add the poa...,2017-12-07 15:06:14
...,...,...,...,...,...,...,...,...,...
1190273,zHZ-A1qyKDEgyZMDaD--wg,_XVdmFWSgTN6YlojUxixTA,6WaI-IN8ql0xpEKlb4q8tg,5,1,0,0,We redesigned my moms dress and mad it complet...,2022-01-17 20:59:01
1190276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
1190277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
1190278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
1190279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

# Trabajamos y concatenamos con  review y con business

In [9]:
import pandas as pd

# Ruta al archivo pickle
archivo_pickle = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/business.pkl"

# Cargar el archivo pickle
df = pd.read_pickle(archivo_pickle)

# Guardar el DataFrame en un archivo CSV llamado "Business.csv"
df.to_csv("Business.csv", index=False)

# Mostrar los tipos de datos (dtype) de las columnas
print(df.dtypes)

business_id     object
name            object
address         object
city            object
state           object
postal_code     object
latitude        object
longitude       object
stars           object
review_count    object
is_open         object
attributes      object
categories      object
hours           object
business_id     object
name            object
address         object
city            object
state           object
postal_code     object
latitude        object
longitude       object
stars           object
review_count    object
is_open         object
attributes      object
categories      object
hours           object
dtype: object

In [10]:
import pandas as pd

# Ruta al archivo CSV
archivo_csv = r'C:\Users\Fede\Documents\Henry\Proyecto 3\etl\Business.csv'

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(archivo_csv)

# Calcular el porcentaje de nulos en cada columna
porcentaje_nulos = (df.isnull().sum() / len(df)) * 100

# Mostrar el resultado
print(porcentaje_nulos)

C:\Users\Fede\AppData\Local\Temp\ipykernel_2036\3554362029.py:7: DtypeWarning: Columns (14,15,16,17,18,19,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(archivo_csv)

business_id        0.000000
name               0.000000
address            3.410134
city               0.000000
state              0.001995
postal_code        0.048555
latitude           0.000000
longitude          0.000000
stars              0.000000
review_count       0.000000
is_open            0.000000
attributes         9.141580
categories         0.068509
hours             15.446370
business_id.1     99.996674
name.1            99.996674
address.1         99.996674
city.1            99.996674
state.1           99.996674
postal_code.1     99.996674
latitude.1        99.996674
longitude.1       99.996674
stars.1           99.996674
review_count.1    99.996674
is_open.1         99.996674
attributes.1      99.996674
categories.1      99.996674
hours.1           99.996674
dtype: float64

In [11]:
import pandas as pd

# Ruta al archivo CSV original
archivo_csv = 'C:/Users/Fede/Documents/Henry/Proyecto 3/etl/Business.csv'

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(archivo_csv)

# Lista de columnas a eliminar
columnas_a_eliminar = [
    'business_id.1', 'name.1', 'address.1', 'city.1', 'state.1',
    'postal_code.1', 'latitude.1', 'longitude.1', 'stars.1',
    'review_count.1', 'is_open.1', 'attributes.1', 'categories.1', 'hours.1'
]

# Eliminar las columnas
df = df.drop(columns=columnas_a_eliminar)

# Guardar el DataFrame resultante en un nuevo archivo CSV
df.to_csv('Business2.csv', index=False)

# Mostrar el DataFrame resultante con display
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
display(df)

C:\Users\Fede\AppData\Local\Temp\ipykernel_2036\3422253589.py:7: DtypeWarning: Columns (14,15,16,17,18,19,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(archivo_csv)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': ""{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [12]:
import pandas as pd

# Ruta al archivo CSV
archivo_csv = "C:/Users/Fede/Documents/Henry/Proyecto 3/etl/Business2.csv"

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(archivo_csv)

# Calcular el porcentaje de nulos en cada columna
porcentaje_nulos = (df.isnull().sum() / len(df)) * 100

# Mostrar el resultado
print(porcentaje_nulos)

business_id      0.000000
name             0.000000
address          3.410134
city             0.000000
state            0.001995
postal_code      0.048555
latitude         0.000000
longitude        0.000000
stars            0.000000
review_count     0.000000
is_open          0.000000
attributes       9.141580
categories       0.068509
hours           15.446370
dtype: float64

In [13]:
import pandas as pd

# Ruta al archivo CSV original
archivo_csv = 'C:/Users/Fede/Documents/Henry/Proyecto 3/etl/Business2.csv'

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(archivo_csv)

# Transformar las columnas según las especificaciones
df['stars'] = df['stars'].astype(float)
df['review_count'] = df['review_count'].astype(int)
df.drop(columns=['postal_code', 'latitude', 'longitude', 'is_open'], inplace=True)

# Guardar el DataFrame resultante en un nuevo archivo CSV
df.to_csv('Business3.csv', index=False)

# Mostrar el DataFrame resultante con display
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
display(df)

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,5.0,7,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,3.0,15,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,3.5,22,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,4.0,80,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,4.5,13,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,3.0,13,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,4.0,5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,3.5,8,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,4.0,24,"{'BusinessParking': ""{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,4.5,9,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [14]:
import pandas as pd

# Rutas a los archivos CSV
archivo_business = 'C:/Users/Fede/Documents/Henry/Proyecto 3/etl/Business3.csv'
archivo_review = 'C:/Users/Fede/Documents/Henry/Proyecto 3/etl/ReviewYelpConcat.csv'

# Cargar ambos archivos CSV en DataFrames
df_business = pd.read_csv(archivo_business)
df_review = pd.read_csv(archivo_review)

# Realizar la concatenación usando la columna "business_id"
df_resultado = pd.merge(df_review, df_business, on='business_id', how='inner')

# Guardar el resultado en un nuevo archivo CSV
df_resultado.to_csv('YelpReviewyBusiness.csv', index=False)

# Mostrar el DataFrame resultante con display
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
display(df_resultado)

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,address,city,state,stars_y,review_count,attributes,categories,hours
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,0,0,0,This is the second time we tried turning point...,2017-05-13 17:06:55,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,2,0,1,The place is cute and the staff was very frien...,2017-08-08 00:58:18,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,We came on a Saturday morning after waiting a ...,2017-11-19 02:20:23,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2,0,0,0,"Mediocre at best. The decor is very nice, and ...",2017-09-09 17:49:47,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4265989,BGSe6tne3hZXyB_DRf-tBg,ObZnTiwMA-4gaTqa1_mB6A,wsPBZXcq28mUE9B-CkdY8Q,2,1,0,0,This bar is definitely geared for its shriner ...,2022-01-08 22:05:04,El Korah Oasis,1118 W Idaho St,Boise,TN,4.5,7,"{'GoodForDancing': 'False', 'NoiseLevel': ""'qu...","Nightlife, Dive Bars, Arts & Entertainment, Ba...",NaN
4265990,REZ0pf6mAphzyolfTgfXKQ,YKVydQ6nZ3CsvSko8X8qTA,0vksR9cowkTN_xL-sdZnNw,1,0,0,0,The Restaurant at the Cheshire is average at b...,2021-12-31 14:48:32,The Restaurant at The Cheshire,7036 Clayton Ave,Saint Louis,TN,4.0,80,"{'NoiseLevel': ""u'average'"", 'RestaurantsDeliv...","Restaurants, American (New), British",NaN
4265991,YqkQOAxnG7jYs9m68Pm2FQ,VzuYiWOWg7RxJ9kEGw6ecA,LJkF_qtlpmTDZXMmjUr7xw,5,0,0,0,Very attentive and checked in via text wheneve...,2022-01-09 20:14:02,Food Lion,11459 Old Nashville Hwy,Smyrna,IN,5.0,5,"{'BikeParking': 'False', 'BusinessAcceptsCredi...","Grocery, Food","{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ..."
4265992,pPqcyyKyg3AruEOuhUPAJw,BIZt3IwVH66S0_UbMEh2MA,HaSEQCVzuVuMtJD_vVlfVg,1,2,2,0,Walked into this gas station and walked right ...,2021-01-02 00:54:42,Circle K,4802 N Sabino Canyon Rd,Tucson,FL,3.5,7,"{'BusinessParking': ""{'garage': False, 'street...","Food, Gas Stations, Automotive, Grocery, Conve...",NaN
4265993,Pi4sofBVDX_1FkiKG5ft5g,zQSW0_fi46U_066lo88GXQ,ujsFpiiGu92nUsjlFc9pew,1,0,0,0,I only come to this location because the parki...,2020-01-15 15:06:30,Quest Diagnostics,"4190 City Ave, Ste 416",Philadelphia,NV,1.0,5,{'ByAppointmentOnly': 'False'},"Health & Medical, Diagnostic Services, Medical...","{'Monday': '13:0-15:0', 'Tuesday': '13:0-15:0'..."

In [15]:
import pandas as pd

archivo_csv = 'C:/Users/Fede/Documents/Henry/Proyecto 3/etl/YelpReviewyBusiness.csv'

df = pd.read_csv(archivo_csv)

df.drop(columns=['stars_x', 'useful', 'funny', 'cool'], inplace=True)

# Guardar el DataFrame resultante en un nuevo archivo CSV
df.to_csv('YelpReviewyBusiness2.csv', index=False)

# Mostrar el DataFrame resultante con display
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
display(df),

,review_id,user_id,business_id,text,date,name,address,city,state,stars_y,review_count,attributes,categories,hours
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,This is the second time we tried turning point...,2017-05-13 17:06:55,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,The place is cute and the staff was very frien...,2017-08-08 00:58:18,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,We came on a Saturday morning after waiting a ...,2017-11-19 02:20:23,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,"Mediocre at best. The decor is very nice, and ...",2017-09-09 17:49:47,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,3.0,169,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4265989,BGSe6tne3hZXyB_DRf-tBg,ObZnTiwMA-4gaTqa1_mB6A,wsPBZXcq28mUE9B-CkdY8Q,This bar is definitely geared for its shriner ...,2022-01-08 22:05:04,El Korah Oasis,1118 W Idaho St,Boise,TN,4.5,7,"{'GoodForDancing': 'False', 'NoiseLevel': ""'qu...","Nightlife, Dive Bars, Arts & Entertainment, Ba...",NaN
4265990,REZ0pf6mAphzyolfTgfXKQ,YKVydQ6nZ3CsvSko8X8qTA,0vksR9cowkTN_xL-sdZnNw,The Restaurant at the Cheshire is average at b...,2021-12-31 14:48:32,The Restaurant at The Cheshire,7036 Clayton Ave,Saint Louis,TN,4.0,80,"{'NoiseLevel': ""u'average'"", 'RestaurantsDeliv...","Restaurants, American (New), British",NaN
4265991,YqkQOAxnG7jYs9m68Pm2FQ,VzuYiWOWg7RxJ9kEGw6ecA,LJkF_qtlpmTDZXMmjUr7xw,Very attentive and checked in via text wheneve...,2022-01-09 20:14:02,Food Lion,11459 Old Nashville Hwy,Smyrna,IN,5.0,5,"{'BikeParking': 'False', 'BusinessAcceptsCredi...","Grocery, Food","{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ..."
4265992,pPqcyyKyg3AruEOuhUPAJw,BIZt3IwVH66S0_UbMEh2MA,HaSEQCVzuVuMtJD_vVlfVg,Walked into this gas station and walked right ...,2021-01-02 00:54:42,Circle K,4802 N Sabino Canyon Rd,Tucson,FL,3.5,7,"{'BusinessParking': ""{'garage': False, 'street...","Food, Gas Stations, Automotive, Grocery, Conve...",NaN
4265993,Pi4sofBVDX_1FkiKG5ft5g,zQSW0_fi46U_066lo88GXQ,ujsFpiiGu92nUsjlFc9pew,I only come to this location because the parki...,2020-01-15 15:06:30,Quest Diagnostics,"4190 City Ave, Ste 416",Philadelphia,NV,1.0,5,{'ByAppointmentOnly': 'False'},"Health & Medical, Diagnostic Services, Medical...","{'Monday': '13:0-15:0', 'Tuesday': '13:0-15:0'..."

(None,)

# Se realiza una limpieza de los datos para obtener un DataFrame completo y sin errores

In [1]:
import pandas as pd
import datetime as dt
import demoji
import re
from datetime import datetime
from IPython.display import display

# Cargar
df_yelp= pd.read_csv('C:/Users/Fede/Documents/Henry/Proyecto 3/etl/YelpReviewyBusiness2.csv')
# Seleccionar columnas
df_yelp= df_yelp[['review_id', 'user_id', 'business_id', 'stars_y','text', 'date']]
#Elimina nulos que tenga la columna text
df_yelp.dropna(subset='text', inplace=True)
# yo no eliminé duplicados porque el archivo q me pasó fede no tenían
df_yelp.duplicated().sum()

#Cambiar a formato fecha , se crean 3 columnas con el año, mes y día
df_yelp['date'] = df_yelp['date'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
df_yelp['anio'] = df_yelp['date'].dt.year
df_yelp['mes'] = df_yelp['date'].dt.month
df_yelp['dia']=df_yelp['date'].dt.day
df_yelp=df_yelp.drop(['date'],axis=1)

#Selección de 2017 a 2021
df_yelp=df_yelp[df_yelp['anio']>=2017]

#Limpieza de datos, todas a minúsculas, se quitan emojis y signos de puntuación
df_yelp['text'] = df_yelp['text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_yelp['text']= df_yelp['text'].apply(lambda x: demoji.replace(x, ''))
df_yelp['text']=df_yelp['text'].apply(lambda x: x.lower() if x is not None else '')
df_yelp


df_yelp.to_csv('YelpReviewBusinessLimpio.csv', index=False)


display(df_yelp)

,review_id,user_id,business_id,stars_y,text,anio,mes,dia
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,if you decide to eat here just be aware it is ...,2018,7,7
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,this is the second time we tried turning point...,2017,5,13
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,the place is cute and the staff was very frien...,2017,8,8
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,we came on a saturday morning after waiting a ...,2017,11,19
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,mediocre at best the decor is very nice and i ...,2017,9,9
...,...,...,...,...,...,...,...,...
4265989,BGSe6tne3hZXyB_DRf-tBg,ObZnTiwMA-4gaTqa1_mB6A,wsPBZXcq28mUE9B-CkdY8Q,4.5,this bar is definitely geared for its shriner ...,2022,1,8
4265990,REZ0pf6mAphzyolfTgfXKQ,YKVydQ6nZ3CsvSko8X8qTA,0vksR9cowkTN_xL-sdZnNw,4.0,the restaurant at the cheshire is average at b...,2021,12,31
4265991,YqkQOAxnG7jYs9m68Pm2FQ,VzuYiWOWg7RxJ9kEGw6ecA,LJkF_qtlpmTDZXMmjUr7xw,5.0,very attentive and checked in via text wheneve...,2022,1,9
4265992,pPqcyyKyg3AruEOuhUPAJw,BIZt3IwVH66S0_UbMEh2MA,HaSEQCVzuVuMtJD_vVlfVg,3.5,walked into this gas station and walked right ...,2021,1,2
4265993,Pi4sofBVDX_1FkiKG5ft5g,zQSW0_fi46U_066lo88GXQ,ujsFpiiGu92nUsjlFc9pew,1.0,i only come to this location because the parki...,2020,1,15

In [2]:
import pandas as pd

# Rutas 
archivo_destino = "C:/Users/Fede/Documents/Henry/Proyecto 3/Yelp/YelpReviewBusinessLimpio.csv"
archivo_fuente = "C:/Users/Fede/Documents/Henry/Proyecto 3/etl/YelpReviewyBusiness2.csv"

# Cargar los datos 
df_destino = pd.read_csv(archivo_destino)
df_fuente = pd.read_csv(archivo_fuente)

# Realizar la concatenación utilizando la columna "business_id" como clave
df_final = df_destino.merge(df_fuente[['business_id', 'name', 'city', 'state', 'review_count', 'attributes', 'categories']], 
                            on='business_id', 
                            how='left')

df_final.to_csv("YelpLimpioyConcatenado.csv", index=False)

In [ ]:
import pandas as pd
import datetime as dt
import demoji
import re
from datetime import datetime
from IPython.display import display

# Cargar
df_yelp = pd.read_csv('C:/Users/Fede/Documents/Henry/Proyecto 3/etl/YelpReviewyBusiness2.csv')

# Seleccionar columnas
selected_columns = ['review_id', 'user_id', 'business_id', 'stars_y', 'text', 'date']
df_yelp = df_yelp[selected_columns]

# Elimina nulos en la columna 'text'
df_yelp.dropna(subset=['text'], inplace=True)

# Cambiar a formato fecha, creando columnas para año, mes y día
df_yelp['date'] = pd.to_datetime(df_yelp['date'])
df_yelp['anio'] = df_yelp['date'].dt.year
df_yelp['mes'] = df_yelp['date'].dt.month
df_yelp['dia'] = df_yelp['date'].dt.day
df_yelp.drop(['date'], axis=1, inplace=True)

# Selección de registros desde 2017 hasta 2021
df_yelp = df_yelp[df_yelp['anio'] >= 2017]

# Limpieza de datos en la columna 'text': a minúsculas, eliminar emojis y signos de puntuación
df_yelp['text'] = df_yelp['text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_yelp['text'] = df_yelp['text'].apply(lambda x: demoji.replace(x, ''))
df_yelp['text'] = df_yelp['text'].str.lower()

# Guardar el DataFrame limpio en un archivo CSV sin index
df_yelp.to_csv('YelpReviewBusinessLimpio.csv', index=False)

# Mostrar el DataFrame
display(df_yelp)

In [ ]:
import pandas as pd
import datetime as dt
import demoji
import re
from datetime import datetime
from IPython.display import display

# Cargar
df_yelp = pd.read_csv('C:/Users/Fede/Documents/Henry/Proyecto 3/etl/YelpReviewyBusiness2.csv')

# Seleccionar columnas que deseas mantener
selected_columns = ['name', 'city', 'state', 'review_count', 'attributes', 'categories', 'review_id', 'user_id', 'business_id', 'stars_y', 'text', 'date']
df_yelp = df_yelp[selected_columns]

# Elimina nulos en la columna 'text'
df_yelp.dropna(subset=['text'], inplace=True)

# Cambiar a formato fecha, creando columnas para año, mes y día
df_yelp['date'] = pd.to_datetime(df_yelp['date'])
df_yelp['anio'] = df_yelp['date'].dt.year
df_yelp['mes'] = df_yelp['date'].dt.month
df_yelp['dia'] = df_yelp['date'].dt.day
df_yelp.drop(['date'], axis=1, inplace=True)

# Selección de registros desde 2017 hasta 2021
df_yelp = df_yelp[df_yelp['anio'] >= 2017]

# Limpieza de datos en la columna 'text': a minúsculas, eliminar emojis y signos de puntuación
df_yelp['text'] = df_yelp['text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_yelp['text'] = df_yelp['text'].apply(lambda x: demoji.replace(x, ''))
df_yelp['text'] = df_yelp['text'].str.lower()

# Guardar el DataFrame limpio en un archivo CSV sin index
df_yelp.to_csv('YelpReviewBusinessLimpio.csv', index=False)

# Mostrar el DataFrame
display(df_yelp)